<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Boletin BC - Sign Up Form [demo-v0.1]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../static/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../static/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../static/assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Boletin BC</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="main">Home</a></li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
   <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="background-image: url(/../static/Uploads/blue_abstract_2.jpg);background-size:100%">
<!-- <div class="well"> -->
          <form class="form-group" role="form" method="post" ><!-- action="/signUp"> -->

            <!-- Form Name -->
            <legend style="color:black;">Register</legend>

            <!-- Name input-->
            <div class="form-group">
              <label  for="txtTitle" style="color:white;">Name</label>  
              <input id="inputName" name="inputName" type="text" placeholder="" class="form-control input-md"> 
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label  for="txtTitle" style="color:white;">Email</label>  
              <input id="inputEmail" name="inputEmail" type="email" placeholder="" class="form-control input-md"> 
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label  for="txtTitle" style="color:white;">Password</label>  
              <input id="inputPassword" name="inputPassword" type="password" placeholder="" class="form-control input-md"> 
            </div>

            
            <!-- Button -->
            <div class="form-group">
                <p class="text-center">
                  <button id="btnSignUp" 
                                class="btn btn-lg btn-primary" 
                                type="button"
                                style="background-color:#1b9686;">
                                Sign up
                  </button>
                </p>
            </div>


          </form>

      </div>
      </div>

      <footer>
        <p>&copy; IO Patterns 2017</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/assets/js/jquery.js"></script>
    <script src="../static/assets/js/bootstrap-transition.js"></script>
    <script src="../static/assets/js/bootstrap-alert.js"></script>
    <script src="../static/assets/js/bootstrap-modal.js"></script>
    <script src="../static/assets/js/bootstrap-dropdown.js"></script>
    <script src="../static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="../static/assets/js/bootstrap-tab.js"></script>
    <script src="../static/assets/js/bootstrap-tooltip.js"></script>
    <script src="../static/assets/js/bootstrap-popover.js"></script>
    <script src="../static/assets/js/bootstrap-button.js"></script>
    <script src="../static/assets/js/bootstrap-collapse.js"></script>
    <script src="../static/assets/js/bootstrap-carousel.js"></script>
    <script src="../static/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
</html>