<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Unauthorized Access:: I / O - Catalogue</title>
 
 
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
    <link href="../static/css/signup.css" rel="stylesheet">

</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">I / O - Catalogue</h3>
        </div>
 
        <div class="jumbotron"
              style="background-color:#992727;">
            <h1 style="color:white;">{{error}}</h1>
        </div>
 
 
 
        <footer class="footer">
            <p>&copy; IO Patterns 2017</p>
        </footer>
 
    </div>
</body>
 
</html>