<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="sharky developments">

    <title>I / O</title>
   
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->

    <!-- <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/signup.css" rel="stylesheet">
    <link href="../static/css/carousel.css" rel="stylesheet">
    <link href="../static/css/navbar.css" rel="stylesheet">
        
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/signUp.js"></script>
  	<script src="../static/js/jquery.ui.widget.js"></script>
	
  	<script type="text/javascript" src="../static/js/jquery.fileupload.js"></script>
  	<script type="text/javascript" src="../static/js/jquery.fileupload-process.js"></script>
  	<script type="text/javascript" src="../static/js/jquery.fileupload-ui.js"></script>
	 
  <script>
		$(function(){
			    $('#fileupload').fileupload({
        			url: 'upload',
        			dataType: 'json',
        			add: function (e, data) {
        				data.submit();
        			},
			        success:function(response,status) {
					console.log(response.filename);
					var filePath1 = 'static/Uploads/' + response.filename;
					$('#imgUpload1').attr('src',filePath1);
					$('#filePath1').val(filePath1);
			        	console.log('success');
			        },
			        error:function(error){
			        	console.log(error);
			        }
    			});
		})
	</script>

  <script>
    $(function(){
          $('#fileupload2').fileupload({
              url: 'upload',
              dataType: 'json',
              add: function (e, data) {
                data.submit();
              },
              success:function(response,status) {
          console.log(response.filename);
          var filePath2 = 'static/Uploads/' + response.filename;
          $('#imgUpload2').attr('src',filePath2);
          $('#filePath2').val(filePath2);
                console.log('success');
              },
              error:function(error){
                console.log(error);
              }
          });
    })
  </script>

  <script>
    $(function(){
          $('#fileupload3').fileupload({
              url: 'upload',
              dataType: 'json',
              add: function (e, data) {
                data.submit();
              },
              success:function(response,status) {
          console.log(response.filename);
          var filePath3 = 'static/Uploads/' + response.filename;
          $('#imgUpload3').attr('src',filePath3);
          $('#filePath3').val(filePath3);
                console.log('success');
              },
              error:function(error){
                console.log(error);
              }
          });
    })
  </script>

  <style>
	.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  </style>
   
  </head>

  <body>

    <div class="container">
            <!-- NAVBAR
================================================== -->
        <div class="navbar-wrapper">
          <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Catalogue List</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Case">
                        <div class="input-group-btn">
                          <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                    <li><a href="/showSignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/showSignIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  </ul>
                </div>
              </div>
            </nav>

          </div>
        </div>
                    <!-- NAVBAR
================================================== -->

     
        <div  class="jumbotron" 
             style="background-color:#992727; background-image: url(/../static/Uploads/transistor_section.png);">
        	<!-- <div class="well"> -->
          <form class="form-group" role="form" method="post" ><!-- action="/signUp"> -->

            <!-- Form Name -->
            <legend style="color:white;">Register</legend>

            <!-- Name input-->
            <div class="form-group">
              <label  for="txtTitle" style="color:white;">Name</label>  
              <input id="inputName" name="inputName" type="text" placeholder="" class="form-control input-md"> 
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label  for="txtTitle" style="color:white;">Email</label>  
              <input id="inputEmail" name="inputEmail" type="emial" placeholder="" class="form-control input-md"> 
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label  for="txtTitle" style="color:white;">Password</label>  
              <input id="inputPassword" name="inputPassword" type="password" placeholder="" class="form-control input-md"> 
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label for="txtPost" style="color:white;">Description</label>               
              <textarea class="form-control" id="txtPost" name="inputDescription" ></textarea>
            </div>

            <div class="form-group">
              <label for="txtPost" style="color:white;">Photos</label>
                  
             <!-- ================================== ONE PICTURE ====================================================== -->
              <div class="input-group" style="margin-bottom: 20px;">
                              <span class="input-group-btn">
                                  <span class="btn btn-primary btn-file">
                                      Browse&hellip; <input type="file" id="fileupload" name="file" multiple>
                                  </span>
                              </span>
              		            <div class="pull-right">
                                <img  id="imgUpload1" style="width: 140px; height: 140px;" class="img-thumbnail">
                                <input type="hidden" name="filePath1" id="filePath1"></input>
              		            </div>
              </div>
              <!-- ================================== ONE PICTURE ====================================================== -->
              <!-- ================================== ONE PICTURE ====================================================== -->
               <div class="input-group" style="margin-bottom: 20px;">
                              <span class="input-group-btn">
                                  <span class="btn btn-primary btn-file">
                                      Browse&hellip; <input type="file" id="fileupload2" name="file" multiple>
                                  </span>
                              </span>
                              <div class="pull-right">
                                <img  id="imgUpload2" style="width: 140px; height: 140px;" class="img-thumbnail">
                                <input type="hidden" name="filePath2" id="filePath2"></input>
                              </div>
              </div>
              <!-- ================================== ONE PICTURE ====================================================== -->
              <!-- ================================== ONE PICTURE ====================================================== -->
              <div class="input-group" style="margin-bottom: 20px;">
                              <span class="input-group-btn">
                                  <span class="btn btn-primary btn-file">
                                      Browse&hellip; <input type="file" id="fileupload3" name="file" multiple>
                                  </span>
                              </span>
                              <div class="pull-right">
                                <img  id="imgUpload3" style="width: 140px; height: 140px;" class="img-thumbnail">
                                <input type="hidden" name="filePath3" id="filePath3"></input>
                              </div>
              </div>
              <!-- ================================== ONE PICTURE ====================================================== -->

            </div>

            <div class="form-group">
            <label style="color:white;">Mark this as private and not visible to others.</label><br/>
            <input name="private"
             type="checkbox" 
             style="color:#FFF;"> Mark as Private 
            <span class="glyphicon glyphicon-lock" aria-hidden="true" style="color:white;" ></span>
            </div>

            <!-- Button -->
            <div class="form-group">
                <p class="text-center">
                  <button id="btnSignUp" 
                                class="btn btn-lg btn-primary" 
                                type="button"
                                style="background-color:#1b9686;">
                                Sign up
                  </button>
              	</p>
            </div>


          </form>

        </div>

        <footer class="footer">
          <p>&copy; IO Patterns 2017</p>
        </footer>

    </div> <!-- container -->

        <!-- BOOTSTRAP CORE JAVASCRIPT
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../static/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- BOOTSTRAP CORE JAVASCRIPT
    ================================================== -->
  </body>
</html>