<!DOCTYPE html>
<html lang="en">
  <head>
    <title>I / O</title>
 
    
    <!-- <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">



    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/signUp.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home &nbsp;&nbsp;</a></li>
            <li role="presentation"><a href="#"> Sign In &nbsp;&nbsp;</a></li>
            <li role="presentation" class="active"><a href="#"> Sign Up &nbsp;&nbsp;</a></li>
            <li role="presentation" ><a href="display"> Display</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">I / O - Catalogue</h3>
      </div>
 
     <div class="jumbotron" style="background-color:#992727;">
        <h1 style="color:white;">Catalogue List App</h1>
        <form class="form-signin">
          <label for="inputName" class="sr-only">Name</label>
          <input  type="name" 
                  name="inputName" 
                  id="inputName" 
                  class="form-control" 
                  placeholder="Name" required autofocus>
          <label  for="inputEmail" class="sr-only">Email address</label>
          <input  type="email" 
                  name="inputEmail" 
                  id="inputEmail" 
                  class="form-control" 
                  placeholder="Email address" required autofocus>
          <label  for="inputPassword" class="sr-only">Password</label>
          <input  type="password" 
                  name="inputPassword" 
                  id="inputPassword" 
                  class="form-control" 
                  placeholder="Password" required>

          <button id="btnSignUp" 
                  class="btn btn-lg btn-primary btn-block" 
                  type="button" 
                  style="background-color:#1b9686;">
                  Sign up
          </button>
        </form>

      </div>

      <!-- Image upload -->
      <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" id="fileupload" name="file" multiple>
                    </span>
                </span>
                <!-- <div class="pull-right">
                  <img  id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail"><input type="hidden" name="filePath" id="filePath"></input>
                </div> -->
            </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        
          <p class="text-center">
          <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
          </p>
      </div>
 

      <footer class="footer">
        <p>&copy; IO Patterns 2017</p>
      </footer>
 
    </div>
  </body>
</html>